/*@import url("http://10.0.0.9/~quintaib10/Jukebox/jukebox.css");*/
@import url("./jukebox.css");

body{
    display: flex;
    justify-content: center;
    background-color: vaR(--background-color);
}

form{
    background-color: rgba(100, 100, 100, 0.2);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    row-gap: 2rem;
    padding: 2rem;
    width: 30vw;
    height: max-content;
    border-radius: 2rem;
}

form>label{
    width: 100%;
    font-size: 300%;
}

form>label>input{
    font-size: 100%;
 
    width: 90%;
    transition: all 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
    border: none;
    border-radius: 1rem;
    padding: 2% 5%;
}

form>label>input::placeholder{
    color: var(--text-color);
}

form>button{
    font-size: 300%;
    width: 50%;
    justify-self: center;
    transition: all 0.1s ease;
    background-color: var(--color);
    color: var(--text-color);
    border: none;
    border-radius: 1rem;
    padding: 0.5rem;
    transition: all 0.1s ease;
}

form>button:hover,form>label>input:hover,form>button:FOCUS,form>label>input:FOCUS{
    cursor: pointer;
    box-shadow: 0 0 25px var(--color);
}

form>h1{
    text-align: center;
    font-size: 400%;
    color: var(--text-color);
    margin: 0;
}

form>p{
    text-align: center;
    font-size:120%;
    color: var(--text-color);
}

form>p>a{
    color: var(--color);
    text-decoration: none;
}