.list{
    width: 100%;
    display: grid;
    grid-template-columns: 80%;
    justify-content: center;
}

.error{
    width: max-content;
    justify-self: center;
    font-size: 200%;
    text-align: center;
    background-color: #df0000   ;
    text-decoration: none;
    color:black;
    padding: 1rem;
    border-radius: 1rem;
    transition: all 0.1s ease;
}

.error:hover{
    box-shadow: 0px 0px 20px #c30000;
}

.obj{
    /* border: 1px solid white; */
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    margin: 1.5rem;
    background-color: rgba(60, 60, 60, 0.98 );
    box-shadow: 4px 4px 8px 0px var(--color);
}

.alb{
    display: grid;
    grid-template-columns: 50% 50%;
    width: 45%;
    justify-content: space-evenly;
    align-items: center;
}

.alb>div>h3{
    font-size: 200%;
    width: max-content;
}

.alb>div>p{
    font-size: 150%;
}

.alb>img{
    width: 80%;
    border-radius: 1rem;
}

.prezzo{
    float: right;
    font-size: 200%;
    grid-area: a;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
}

.quantita{
    align-items: center;
    display: flex;
    grid-area: c;
}

.quantita>*{
    font-size: 150%;
    user-select: none;
    cursor: default;
    display: inline-block;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 1.5rem;
    height: 1.5rem;
}

.sign{
    border: 1px solid white;
    border-radius: .5rem;
    color: black;
    background-color: white; 
    padding: .5rem;
}

.num{
    border: 1px solid white;
    border-radius: .5rem;
    padding: .5rem;
    margin-inline: .5rem;
}

.disp{
    grid-area: b;
    font-size: 150%;
    margin: 0;
    display: flex;
    align-items: flex-end;
}

.areaeconomica{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        ". a"
        ". . "
        "b c";
    margin-inline: 2rem;
}
.subtitle{
    font-size: 200%;
    font-weight: 900;
    margin: 0 5rem 3rem;
}

.acquista{
    font-size: 3rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0 1.5rem;
}

.acquista>div{
    border-radius: 1rem;
    color: black;
    background-color: var(--color);
    width: max-content;
    padding: 1rem;
    justify-self: end;
    user-select: none;
}

.acquista>div:hover{
    cursor: pointer;
    box-shadow: 0 0 20px var(--color);
}

.sign{
    transition: all 0.1s ease;
}

.sign:hover{
    background-color: rgba(255, 255, 255, 0.774);
    border-color: rgba(255, 255, 255, 0.774);
}

:root{
    --popup-height: 50vh;
    --popup-width: 50vw;
}

#popup,#acquisto{
    position:fixed;
    display: none;
    grid-template-columns: 40% 40%;
    width: var(--popup-width);
    height: var(--popup-height);
    top: calc(50% - var(--popup-height) / 2);
    left: calc(50% - var(--popup-width) / 2);
    background-color: rgba(0, 0, 0, 0.904);
    border-radius: 2rem;
    justify-content: space-around;
    padding:2rem;
    align-items: center;
    
}

#acquisto{
    width: calc(var(--popup-width) - 10%);
    height: calc(var(--popup-height) - 10%);
    top: calc(55% - var(--popup-height) / 2);
    left: calc(55% - var(--popup-width) / 2);
}

#popup>p,#acquisto>p{
    grid-column: span 2;
    text-align: center;
    font-size: 300%;
    margin:0;
}

#popup>p>span{
    font-weight: 900;
    color: var(--color);    
}

#popup>button{
    width: 70%;
    height: 50%;
    font-size: 200%;
    justify-self: center;
    border:none;
    border-radius: 1rem;
    background-color: #c30000;
    transition: all 0.1s ease;
}

#popup>button:last-child{
    background-color: #00c300;
}

#popup>button:hover,#acquisto>button:hover{
    box-shadow: 0px 0px 20px #c30000;
}

#popup>button:last-child:hover,#acquisto>a:hover{
    box-shadow: 0px 0px 20px #00c300;
}

#acquisto>a{
    width: 35%;
    grid-column:span 2;
    height: 50%;
    font-size: 200%;
    justify-self: center;
    border:none;
    border-radius: 1rem;
    background-color: #00c300;
    transition: all 0.1s ease;
    align-content: center;
    color:black;
    text-decoration: none;
    text-align: center;
}

